streamlit

# LangChain ecosystem (compatible versions)
langchain==0.2.10
langchain-core==0.2.23
langchain-community==0.2.10
langchain-groq==0.2.2
groq

# Embeddings & vector DB
sentence-transformers
faiss-cpu

# Document support
pymupdf
docx2txt

# Environment & utils
python-dotenv
chromadb
protobuf==3.20.3

# API server
fastapi
uvicorn
python-multipart
