streamlit

# LangChain ecosystem (full compatibility)
langchain==0.3.7
langchain-core==0.3.27
langchain-community==0.3.7

# Groq LLM support
langchain-groq==0.2.3
groq

# Embeddings & vectorstore
faiss-cpu
sentence-transformers

# Documents
pymupdf
docx2txt

# Utils
python-dotenv
chromadb
protobuf==3.20.3

# Optional API
fastapi
uvicorn
python-multipart
